.section-heading p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #b2b2b2;
}

.home-section-bg.bg-image{

}

body#top .section-heading h1{
  color: #ffffff00;
  font-size: 0.001rem;
}

.hero-title{
  color: #ffffff00;
  font-size: 0.001rem;
}

figcaption {
  font-style: italic;
  font-size: 0.75rem;
  padding: 1px;
  text-align: center;
}

.wg-hero .cta-btns{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.column {
  display: flex;
  align-items: center;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.hero-lead{
  max-width: 100%
}

h1 {
  text-align: center;
}

h6 {
  text-align: center;
  font-weight: normal;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-brand{
  font-size: 0.8rem;
}

.cta-group{
  justify-content: center;
}

.btn-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-toolbar .btn:last-child{
  border-radius: 6px 6px 6px 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn{
  border-radius: 6px 6px 6px 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}